mixin page-footer()
  footer.page-footer
    .container
      .page-footer__row
        p.page-footer__text 150044, г. Ярославль, Ленинградский проспект  д. 33, литер «Г», офис 17, +7 (4852) 950-335
        p.page-footer__text.page-footer__text--center © Сopyright 2019 ООО "ТОТЭМ"
        a.page-footer__text.page-footer__text--link.page-footer__text--right(href="http://crazyquiz.ru" target="_blank") Сделано в crazyquiz.ru
