.advantages {
  position: relative;
  padding-left: 30px;

  &::after {
    content: '';
    position: absolute;
    top: 5px;
    left: -4px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-shadow: 0 4px 18px rgba(185, 187, 192, 0.41);
    background: $white url("../img/tick-sign.svg") no-repeat center / 13px;
  }

  @media (min-width: $screen-xl) {
    padding-left: 35px;
  }
}

.advantages__name {
  display: block;

  font-size: 18px;
  font-weight: 400;
  line-height: 26px;

  color: #070606;

  @media (min-width: $screen-xl) {
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 8px;
  }
}

.advantages__text {
  font-size: 10px;
  font-weight: 400;

  @media (min-width: $screen-xl) {
    font-size: 12px;
    line-height: 19px;
  }
}
