.fullpage {
  min-height: 100vh;
  background: url("../img/fullpage-bg-mb.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $screen-xl) {
    background: url("../img/fullpage-bg.jpg") no-repeat center top / cover;
  }
}
